<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
