name: Deploy Hugo Site to VPS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build Site
        run: hugo --minify

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.PS_WEB_DEPLOY_KEY }}
          port: 22
          
          script: |
            REMOTE_DIR="${{ secrets.VPS_DEPLOY_PATH }}"
            
            rsync -avz --delete -e "ssh -i $HOME/.ssh/id_rsa -o StrictHostKeyChecking=no" public/ ${{ secrets.VPS_USER }}@${{ secrets.VPS_IP }}:$REMOTE_DIR
